body {
	
  background-image: url('https://i.pinimg.com/originals/79/d3/f8/79d3f827a60c959f41069089db2ea0a3.gif');
  background-size: 1500px 950px; 
	background-repeat: no-repeat;
	  

}
h1{
	font-style: italic;
	color: #0404B4;
	font-weight: bold;



}

form{
padding-left: 60px;




}
